.burger {

    width: 500px;
    margin: 0 auto;
    height: 300px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}


@media (max-width: 600px) {

    .burger {

        width: 80%;
        height: 400px;
    }
}
