.navigationItem {

    margin: 0;
    box-sizing: border-box;
    width: 100%;
}


.navigationItem a{

    color: #8F5C2C;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
}


.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active
{

    /* background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8; */
    color: #40A4C8;
}


@media (min-width: 500px) {

    .navigationItem {

        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    
    .navigationItem a{
    
        color: white;
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    
    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active
    {
    
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}